name: Release

on:
  workflow_dispatch:
    inputs:
      bump_version_scheme:
        type: choice
        description: "Bump version scheme"
        required: true
        default: "patch"
        options:
          - "patch"
          - "minor"
          - "major"

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: rymndhng/release-on-push-action@v0.28.0
        with:
          bump_version_scheme: ${{ inputs.bump_version_scheme }}
